.encanta{
    position: absolute;
    top: 0px;
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(43, 255, 0);
    color: #ffffff;
    right: 0px;
}
.img-sitio{
    width: 200px;
    margin: auto;
    margin-top: 20px;
}