<ion-app>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main" menuId="principal">
      <ion-header>
        <ion-toolbar>
          <ion-title class="subtitulo">Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="[ '/']">
            <ion-label class="normal">Sitios Turísticos</ion-label>
            <ion-icon slot="start" name="earth-sharp"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle autoHide="false" *ngIf="admin">
          <ion-item button="true" detail="true"  [routerLink]="['/set-sitiosturisticos']">
            <ion-label class="normal">Configuración de sitios turísticos</ion-label>
            <ion-icon slot="start" name="create-sharp"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false" *ngIf="!admin">
          <ion-item button="true" detail="true"  [routerLink]="['/favoritos']">
            <ion-label class="normal"> Mis Favoritos</ion-label>
            <ion-icon slot= 'start' name="heart-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false" *ngIf="admin">
          <ion-item button="true" detail="true"  [routerLink]="['/favoritos-general']">
            <ion-label class="normal">Favoritos</ion-label>
            <ion-icon slot= 'start' name="heart-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true"  [routerLink]="['/registrar-sitiosturisticos']">
            <ion-label class="normal">Registrar Sitios Turísticos</ion-label>
            <ion-icon slot= 'start' name="sunny-outline"></ion-icon>
           
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true"  [routerLink]="['/visitar-sitiosturisticos']">
            <ion-label class="normal">Visitar Sitios Turísticos</ion-label>
            <ion-icon slot= 'start' name="accessibility-outline"></ion-icon>
           
          </ion-item>
        </ion-menu-toggle>
        
      </ion-content>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
