.titulo{
    padding-top : 2%;
    size: auto;
    font-family: cursive;
    font-size: x-large;
    font-style: oblique;
    text-align: center;
}

.imagen{
    padding: auto;
    border-radius:50px !important;
}